body{
    font-family: 'Andika', sans-serif !important;
    background: linear-gradient(125deg, navy 50%, crimson 50% ) !important;
    padding: 80px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
input{
    outline: none !important;
}
.width{
    width: 750px !important;
}
.pointer{
    cursor: pointer;
}

